.main{
    width: 100%;
    height: fit-content;
    margin-top: 6rem;
    display: flex;
    scroll-behavior: "smooth";

    &__homepage{
        width: 80%;
        display: grid;
        grid-template-columns: repeat(4, minmax(200px, 20%));
        gap: 1rem;
        margin-top: 2.3rem;
        margin-left: 20%;
        justify-items: center;

        @media (max-width: 1058px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media (max-width: 900px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}