.card{
    // width: 250px;
    // height: 400px;
    // padding: 0px 30px;
    // transition: transform 450ms ease;
    // transition: background-color 450ms ease;

    // &:hover{
    //     transform: scale(1.05);
    //     background-color: lightgray;
    // }
    img{
        height: 50%;
        width: 100%;
        object-fit: contain;
    }

    h3{


    }
}