.sidebar--left{
    height: 100%;
    width: 20%;
    border: 1px solid rgb(199, 194, 194);
    border-top: none;
    position: fixed;
    // @media (max-width: 1200px) {
    //     display: none;
    // }

    &__category-list{
        height: 100%;
        width: 100%;
        margin-top: 10px;
        list-style-type: none;


        li{
            width: 100%;
            padding: 5px 0px 5px 10px;
            margin: 5px 0px;

            a{
                text-decoration: none;
                color: rgb(82, 79, 79);
                font-size: 0.8rem;
            }
        }
    }
}