.sidebar--left{
    height: 100%;
    width: 15%;
    min-width: fit-content;
    border: 1px solid rgb(199, 194, 194);
    border-top: none;
    position: fixed;
    top: 7rem;
    @media (max-width: 900px) {
        display: none;
    }

    h3{
        text-align: center;
        padding: 5px 1px;
    }

    &__category-list{
        height: 100%;
        width: 100%;
        list-style-type: none;


        li{
            width: 100%;
            padding: 5px 0px 5px 10px;
            margin: 5px 0px;

            a{
                text-decoration: none;
                color: rgb(82, 79, 79);
                font-size: 0.8rem;
            }
        }
    }
}